.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
  }
  
  /* ==========================================
  Single-colored icons can be modified like so:
  .icon-name {
    font-size: 32px;
    color: red;
  }
  ========================================== */
.buttons{
  width:100%;
  margin: 20px auto;
  display:flex;
  justify-content: space-around;
}
a{  
  padding: 8px;
  background-color: white;
  color: #242525;
  border-radius: 50%;
  text-decoration: none;
  transition: background-color 1.5s ease;
}
a:hover{
  background-color: skyblue;
}
button{
  color: white;  border-radius: 5px;
  padding: 5px 15px;
  text-transform: uppercase;
  transition: 1.5s ease;
}
button:hover{
  background-color: #9dc6f7;
  color: #292924;
}
/* header */

header{
  background-color: #26292E;
  width: 100%;
}
.logo{
  color:whitesmoke;
  font-family: "Butterfly kids";
  font-size: 45px;
  text-transform: capitalize;
}



/* end header */
/* main */

.section1{
  background-image: radial-gradient(at top, #EE8CA2,#E7718B);
}
.block1{
  font-size: x-small;
}



.section2{
  background-color: #F4F4F6;
  border-bottom: 5px solid #f7e4e8;
}

.block3, .block4, .block5{
  font-size: smaller;
  /* border: 1px solid orangered; */
}

.section3{
  height: 340px;
}

.bold{
  font-weight: bold;
}

.block6{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: space-around;
  width: 300px;
  height: 240px;
}

.product{
  background-color: #393a3a;
  color: white;
  border: 3px solid gray;
  margin: 35px auto;
}
.icon-search{
  display:block;
  margin:25px auto;
}


/* end main */

/* footer */
footer{
  background-color: #26292E;
  color: white;
  padding: 25px 0;
}

/* end footer */

/* media queries */

@media(max-width: 992px){
  header{
    padding: 20px 0;
  }
  .top-nav{
    padding-top: 20px;
  }
  .social-list{
    display:flex;
    justify-content: space-around;
  }
}
@media(max-width: 768px){
  header{
    padding:20px 0;
  }

  .social-list{
    display:flex;
    justify-content: space-around;
  }
  .landing-img{
    padding-top: 55px;
  }
  .section3{
    margin: 15px 0;
  }
  .product{
    width: 180px;
    height: 94px;
    margin: 35px auto;
  }
  .icon-search{
    font-size: 45px;
  }
}
@media(max-width: 576px){
  .top-nav{
    display:none;
  }
  aside{
    display:none;
  }
  .logo{
    text-align: center;
  }
  .block3, .block4, .block5{
    text-align: justify;
  } 
    .product{
      width: 120px;
      height: 64px;
    }
    .icon-search{
      font-size: 15px;
    }
}